.container {
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .selector_files {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      border: 1px solid #dbdbdb;
      background: #f8f8f8;
      width: max-content;
      padding: 10px;
      border-radius: 8px;

      input {
        display: none;
      }
    }
  }

  ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    overflow-x: auto;
    gap: 6px;

    li {
      aspect-ratio: 1;
      width: 100px;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    &::-webkit-scrollbar {
      height: 10px;
    }
  }
}

.error {
  margin-top: 8px;
  color: red;
}
