.container {
  display: grid;
  margin: 0 -30px;
  border-bottom: 1px solid #dbdbdb;
  grid-template-columns: 260px auto;

  .content {
    max-width: 600px;
    width: 100%;
    margin: 30px auto;

    form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin: 0;
    }

    .orders {
      display: flex;
      flex-direction: column;
      min-height: calc(100svh - 120px);
      gap: 24px;

      hr {
        border-bottom: 1px solid var(--border-color);
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .container {
    margin: 0;
    border-bottom: none;
    grid-template-columns: 100%;
    gap: 0;

    .content {
      margin: 12px 0 0;
      max-width: -webkit-fill-available;
    }
  }
}
