$aside: 400px;

.preloader {
  display: grid;
  grid-template-columns: auto 400px;
  gap: 60px;

  .item {
    background: var(--sceleton-back);
    height: calc(100svh - 72px - 20px);
    border-radius: 12px;
  }

  .item:nth-child(2) {
    height: 40vh;
    min-height: 200px;
  }
}

.container {
  display: grid;
  grid-template-columns: auto $aside;
  gap: 60px;
  padding-top: 20px;
  min-height: calc(100svh - 72px - 30px);

  .statistic {
    width: $aside;

    aside {
      top: 92px;
      position: sticky;

      form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .promo_code {
          display: grid;
          grid-template-columns: auto max-content;
          gap: 10px;

          input {
            width: 100%;
          }
        }

        .exorbitant_price {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .promo_code_discount,
          .product_price,
          .delivery_price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            .meaning {
              color: var(--desc-color);
            }
          }
        }
      }

      hr {
        border-bottom: 1px solid #dbdbdb;
      }

      .total_price {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .price {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }

  .products_list {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    gap: 20px;

    .message {
      display: flex;
      flex-direction: column;
      background: rgba(255, 222, 173, 0.585);
      padding: 20px;
      border-radius: 12px;
      gap: 12px;

      h2 {
        font-weight: 500;
        font-size: 18px;
      }

      p {
        font-style: italic;
      }
    }

    .product {
      gap: 20px;
      display: flex;

      .product_image {
        aspect-ratio: 1;
        width: 200px;
        border-radius: 8px;
        height: -webkit-fill-available;
        object-fit: cover;
      }

      .product_info {
        width: 100%;
        height: max-content;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: space-between;

        .product_stats {
          display: flex;
          flex-direction: column;
          color: var(--desc-color);
          gap: 10px;
        }

        .product_header {
          font-weight: 600;
          width: 100%;
          color: #000;
          display: flex;
          gap: 12px;
          align-items: center;
          justify-content: space-between;

          h3 {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  $aside: 100%;

  .preloader,
  .container {
    gap: 56px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &.preloader {
      gap: 24px;
    }

    .item:nth-child(1) {
      order: 2;
    }

    .item:nth-child(2) {
      order: 1;
    }

    .statistic {
      width: $aside;
      order: 1;

      aside {
        top: 0;
        position: static;
      }
    }

    .products_list {
      order: 2;

      .product {
        .product_info {
          .product_stats {
            gap: 6px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .container {
    .products_list {
      .product {
        .product_info {
          .product_stats {
            font-size: 14px;
          }
        }
      }
    }
  }
}
