.container {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100svh - 96px - 20px);
    margin-bottom: 20px;

    .title {
      display: grid;
      overflow: hidden;
      margin-top: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .banner_content {
      display: flex;
      flex-direction: column;
      gap: 60px;

      p {
        font-size: 46px;
        font-weight: 500;
        line-height: 1.2;
      }

      .fast_link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 18px;
        font-weight: 500;

        a {
          color: var(--font-color-b);
          padding-bottom: 6px;
          border-bottom: 1px solid #000;
        }
      }
    }
  }

  .promo_video_container {
    position: relative;
    height: 140svh;

    video {
      width: 100%;
      height: 70svh;
      object-fit: cover;
      position: sticky;
      top: 76px;
      border-radius: 20px;
    }
  }

  .promo_desc {
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0;
    line-height: 1.6;
  }

  .about_us {
    margin: 130px 0 80px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 46px auto;

    .about_us_content_container {
      display: grid;
      grid-template-rows: max-content max-content;
      margin-right: 60px;
      gap: 60px;

      .card {
        margin-left: 20px;
        border-radius: 8px;
        width: 128px;
        height: auto;
      }

      h2 {
        font-size: 64px;
        font-weight: 500;
        line-height: 1.2;
      }

      p {
        font-size: 18px;
        margin-right: 60px;
        color: #808089;
        line-height: 1.4;
        max-width: 500px;
        font-weight: 400;
      }

      .about_us_content {
        display: grid;
        margin-bottom: 60px;
        grid-template-columns: minmax(100px, 300px) auto;

        .about_us_min_title {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }

  .recommendations {
    overflow-x: auto;
    display: flex;
    margin-bottom: 60px;
    gap: 16px;

    &::-webkit-scrollbar {
      height: 0;
    }

    li {
      a {
        width: 480px;

        p:nth-of-type(2) {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    .promo_video_container {
      video {
        height: 65svh;
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  .container {
    .about_us {
      margin: 100px 0 40px;

      .about_us_content_container {
        margin-right: 30px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    .about_us {
      .about_us_content_container {
        margin-right: 0;

        h2 {
          font-size: 56px;
        }

        p {
          margin-right: 0;
        }
      }
    }

    .recommendations {
      li {
        a {
          width: 420px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    .promo_video_container {
      video {
        height: 52svh;
      }
    }

    .about_us {
      .about_us_content_container {
        gap: 24px;

        .card {
          width: 100px;
        }

        .about_us_content {
          grid-template-columns: minmax(100px, 220px) auto;
        }
      }
    }

    .recommendations {
      li {
        a {
          width: 370px;
        }
      }
    }
  }
}

@media only screen and (max-width: 946px) {
  .container {
    .about_us {
      .about_us_content_container {
        .about_us_content {
          grid-template-columns: minmax(100px, 220px) auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 925px) {
  .container {
    .about_us {
      grid-template-columns: auto;
      gap: 24px;

      svg {
        rotate: 90deg;
      }

      .about_us_content_container {
        h2 {
          font-size: 48px;
          max-width: 700px;

          br {
            display: none;
          }
        }

        .about_us_content {
          grid-template-columns: 1fr;
          gap: 24px;

          .about_us_min_title {
            order: 2;
          }

          p {
            order: 1;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .promo_video_container {
      video {
        height: 50svh;
      }
    }
  }
}
@media only screen and (max-width: 720px) {
  .container {
    .about_us {
      .about_us_content_container {
        gap: 36px;

        h2 {
          font-size: 36px;
          max-width: 500px;
        }

        .card {
          width: 76px;
          margin-left: 12px;
        }

        .about_us_content {
          gap: 36px;
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .container {
    .about_us {
      margin: 72px 0 24px;
    }
  }
}

@media only screen and (max-width: 560px) {
  .container {
    .promo_video_container {
      video {
        height: 60svh;
        border-radius: 10px;
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .container {
    .banner {
      .banner_content {
        p {
          font-size: 38px;
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .container {
    .banner {
      height: calc(100svh - 96px - 0px);

      .banner_content {
        gap: 160px;
        p {
          br {
            display: none;
          }
        }
      }
    }

    .promo_video_container {
      video {
        height: 80svh;
      }
    }

    .recommendations {
      li {
        a {
          width: 386px;
        }
      }
    }
  }
}

@media only screen and (max-width: 412px) {
  .container {
    .recommendations {
      li {
        a {
          width: 372px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .container {
    .recommendations {
      li {
        a {
          width: 354px;
        }
      }
    }
  }
}

@media only screen and (max-width: 376px) {
  .container {
    .banner {
      .banner_content {
        gap: 120px;
      }
    }
    
    .recommendations {
      li {
        a {
          width: 336px;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .container {
    .recommendations {
      li {
        a {
          width: 280px;
        }
      }
    }
  }
}
