.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .product_info {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .product_header {
      display: flex;
      flex-direction: column;
      gap: 12px;

      h1 {
        font-weight: 500;
        font-size: 24px;
      }

      .price {
        display: grid;
        justify-items: end;
        grid-template-columns: max-content max-content auto;
        font-weight: 600;
        margin-top: 12px;
        gap: 12px;

        .old_price {
          font-weight: 500;
          color: var(--desc-color);
        }

        .discount {
          color: green;
          background: rgba(0, 128, 0, 0.189);
          border-radius: 4px;
          padding: 2px 6px;
        }
      }
    }

    .comments,
    .description,
    .sizes_box {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .coments_title,
      .desc_title,
      .size_title {
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 12px;

        hr {
          width: 16px;
          border-bottom: 1px solid #000;
        }
      }

      p {
        line-height: 1.6;
        font-size: 16px;
      }

      .sizes {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .error {
          margin-top: 16px;
          color: red;
        }

        .gender_sizes,
        .unisex_sizes {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 10px;

          &.gender_sizes {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          }

          li {
            position: relative;

            input {
              display: none;
            }

            label {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 14px;
              border-radius: 8px;
              border: 1px solid var(--border-color);
            }

            .label_disabled {
              opacity: 0.55;
              user-select: none;
              background: #eee;
              cursor: auto;
            }

            input[type='radio']:checked + label {
              border: 1px solid #000;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1064px) {
  .container {
    .product_info {
      max-width: 440px;
    }
  }
}

@media only screen and (max-width: 960px) {
  .container {
    margin: 0;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto max-content;

    .product_info {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .container {
    .product_info {
      .sizes_box {
        .sizes {
          .gender_sizes,
          .unisex_sizes {
            grid-template-columns: 1fr 1fr;
          }
        }
      }
    }
  }
}