.line {
  height: 20px;
  background: linear-gradient(90deg, rgba(148, 187, 233, 1) 0%, rgba(238, 174, 202, 1) 100%);
}

.products_contoler {
  display: grid;
  position: sticky;
  align-items: center;
  grid-template-columns: auto max-content max-content;
  padding: 24px 0;
  gap: 24px;
  top: 0;

  h2 {
    font-size: 18px;
    font-weight: 500;
  }

  select {
    margin-left: 4px;
    outline: none;
    color: var(--desc-color);
  }
}

.container {
  height: 400vh;
  display: grid;
  grid-template-columns: max-content auto;

  .products_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    gap: 60px 12px;
  }
}
