.line {
  height: 20px;
  background: linear-gradient(90deg, rgba(148, 187, 233, 1) 0%, rgba(238, 174, 202, 1) 100%);
}

.products_contoler {
  display: grid;
  position: sticky;
  align-items: center;
  grid-template-columns: auto max-content max-content;
  backdrop-filter: saturate(180%) blur(5px);
  padding: 24px 0;
  z-index: 2;
  gap: 24px;
  top: 0;

  h2 {
    font-size: 18px;
    font-weight: 500;
  }

  select {
    margin-left: 4px;
    outline: none;
    color: var(--desc-color);
  }
}

.container {
  display: grid;
  grid-template-columns: max-content auto;

  .filters {
    height: 100%;

    .filter_list {
      top: 72px;
      margin-right: 14px;
      padding-right: 8px;
      height: calc(100svh - 72px);
      max-height: calc(100svh - 72px);
      position: sticky;
      overflow-x: hidden;
      overflow-y: auto;
    }

    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background: none;
    }

    &:hover {
      ::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: #989898;
      }
    }

    ::-webkit-scrollbar-track {
      background: none;
    }
  }

  .products_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    gap: 60px 12px;
  }
}
