.header,
.header_border,
.header_fixed {
  max-height: 72px;
  padding: 16px 30px;

  &.header_border {
    border-bottom: 1px solid #dbdbdb;
  }

  &.header_fixed {
    top: 0;
    z-index: 1;
    backdrop-filter: saturate(180%) blur(5px);
    position: sticky;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 18px;
      font-weight: 600;
      color: #000;
    }

    .nav_list {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-left: 130px;

      a {
        color: #000;
      }
    }

    .account_container {
      display: flex;
      align-items: center;
      gap: 12px;

      .login {
        color: #000;
      }

      .signup {
        color: #000;
        border: 1px solid #000;
        padding: 10px;
        border-radius: 9999px;
      }
    }
  }
}
