.container {
  display: flex;
  flex-direction: column;
  position: relative;

  input {
    padding: 14px 16px;
    border-radius: 12px;
    width: 100%;
    border: 1px solid var(--border-color);

    &:focus + label {
      font-size: 14px;
      top: -12px;
    }

    &:not(:focus):not(:placeholder-shown) + label,
    &:focus + label {
      font-size: 14px;
      top: -10px;
    }
  }

  label {
    position: absolute;
    background: var(--bask-color-w);
    color: #838383;
    padding: 0 4px;
    left: 14px;
    top: 14px;
    transition: 0.2s;
    pointer-events: none;
  }

  .error {
    color: red;
    margin-top: 6px;
  }
}
