.textarea_controler {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .title {
    font-size: 18px;
    font-weight: 500;
  }

  .textarea {
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid #dbdbdb;
    height: 200px;
    outline: none;
    resize: none;

    &:focus {
      border: 1px solid #008cff;
    }

    &.error_textarea {
      border-color: red;
    }
  }

  p {
    color: #71717a;
    line-height: 1.4;
    margin-bottom: 8px;
    font-size: 16px;
  }

  .error {
    margin-top: 8px;
    color: red;
  }
}
