.product {
  display: flex;
  flex-direction: column;
  color: var(--bask-color-b);
  gap: 12px;

  h3 {
    margin-top: 8px;
    font-weight: 600;
  }

  p {
    font-weight: 500;
    color: var(--desc-color);
  }

  .price {
    display: grid;
    justify-items: end;
    grid-template-columns: max-content max-content auto;
    font-weight: 600;
    margin-top: 12px;
    gap: 12px;

    .old_price {
      font-weight: 400;
      color: var(--desc-color);
    }

    .discount {
      color: green;
      background: rgba(0, 128, 0, 0.189);
      border-radius: 4px;
      padding: 2px 6px;
    }
  }

  img {
    aspect-ratio: 1;
    object-fit: cover;
    background-size: cover;
  }
}
