.container {
  min-height: 100svh;
  border-right: 1px solid #dbdbdb;

  nav {
    position: sticky;
    height: max-content;
    top: 10px;

    ul {
      display: flex;
      flex-direction: column;
      margin: 10px;
      gap: 10px;

      .active_item,
      .nav_item {
        outline: none;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px;
        border-radius: 8px;
        cursor: pointer;

        &.active_item {
          background: #efefef;
        }

        .nav_title {
          text-transform: capitalize;
          width: 160px;
          color: #000;
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .container {
    border: none;
    min-height: max-content;

    nav {
      ul {
        margin: 0;
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 376px) {
  .container {
    border: none;
    min-height: max-content;

    nav {
      ul {
        margin: 0;
        margin-top: 12px;
      }
    }
  }
}
