.container {
  display: grid;
  grid-template-columns: auto 400px;
  gap: 30px;
  min-height: 100svh;

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    button {
      width: max-content;
    }

    h1,
    h2,
    h3 {
      font-size: 20px;
      font-weight: 500;
    }

    hr {
      border-bottom: 1px solid #dbdbdb;
    }

    input {
      width: 100%;

      &::placeholder {
        color: #000;
      }
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        color: var(--desc-color);
      }
    }

    .delivery_location_inputs,
    .personal_data_inputs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;
      margin-bottom: 12px;
    }

    .payment_method {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;

      .method,
      .active {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        user-select: none;
        border: 1px solid #dbdbdb;
        gap: 6px;
        font-size: 18px;
        height: 400px;
        border-radius: 12px;

        &.active {
          background: #f8f5fe;
          border: 1px solid #d6c8ea;
        }

        input {
          display: none;
        }
      }
    }

    .metaMask_method {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .status {
        display: flex;
        align-items: center;
        background: #e5f9f6;
        color: #00c9a7;
        width: max-content;
        padding: 12px 16px;
        font-weight: 500;
        gap: 6px;
        border-radius: 8px;

        svg {
          margin-bottom: 1px;
        }
      }

      .metaMask_stages {
        display: flex;
        align-items: baseline;
        gap: 12px;

        .metaMask_stage {
          width: 100%;
          min-width: 260px;
          height: 100%;
          padding: 20px;
          border-radius: 8px;
          border: 1px solid #dbdbdb;
          display: flex;
          flex-direction: column;
          gap: 12px;

          .stage_buy_product {
            display: flex;
            align-items: center;
            gap: 12px;
          }

          p {
            color: var(--desc-color);
            line-height: 1.4;
          }
        }

        hr {
          width: 100%;
          border-bottom: 1px solid #dbdbdb;
        }
      }

      .ethereum_rate {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        gap: 24px;

        .rate_item,
        .ethereum_price_block {
          display: flex;
          width: max-content;
          align-items: center;
          border: 1px solid #97d4f0;
          padding: 12px 26px 12px 14px;
          border-radius: 12px;
          font-weight: 200;
          font-size: 42px;
          gap: 12px;

          &.rate_item {
            border: 1px solid #dbdbdb;
          }
        }
      }
    }

    .order_container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .order {
        color: var(--font-color-b);
        display: grid;
        align-items: center;
        grid-template-columns: auto max-content;
        justify-content: space-between;

        .order_info {
          display: flex;
          align-items: center;
          gap: 32px;

          .fullname {
            display: flex;
            align-items: center;
          }

          .price,
          data {
            color: var(--desc-color);
          }

          .paid,
          .not_paid {
            display: flex;
            align-items: center;
            padding: 8px 12px;
            background: #ebfcf2;
            color: #3aa271;
            gap: 6px;
            font-weight: 500;
            border-radius: 8px;

            &.not_paid {
              background: #fcebeb;
              color: #a23a3a;
            }
          }
        }
      }
    }
  }

  .statistic_container {
    height: 100%;

    aside {
      position: sticky;
      display: flex;
      flex-direction: column;
      gap: 20px;
      top: 72px;

      hr {
        border-bottom: 1px solid #dbdbdb;
      }

      .statistic_infos {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .products_price,
      .products_promo_code,
      .products_delivery,
      .products_number,
      .products_total {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .meaning {
          color: var(--desc-color);
        }

        &.products_total {
          .meaning {
            color: var(--font-color-b);
          }
        }
      }
    }
  }
}

.loading {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .delivery_location,
  .personal_data {
    height: 180px;
    border-radius: 12px;
    background: var(--sceleton-back);
  }

  .methods {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    .method {
      height: 400px;
      border-radius: 12px;
      background: var(--sceleton-back);
    }
  }

  .bask_button {
    width: 160px;
    height: 52px;
    border-radius: 16px;
    background: var(--sceleton-back);
  }
}

@media only screen and (max-width: 1346px) {
  .container {
    form {
      .metaMask_method {
        .metaMask_stages {
          flex-direction: column;

          hr {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
    min-height: auto;
    gap: 56px;

    .statistic_container {
      order: 1;
    }

    form {
      order: 2;

      .metaMask_method {
        .metaMask_stages {
          flex-direction: row;

          hr {
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .container {
    form {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .payment_method {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
      }

      .metaMask_method {
        .metaMask_stages {
          flex-direction: column;

          hr {
            display: none;
          }
        }
      }
    }
  }

  .loading {
    .methods {
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width: 740px) {
  .container {
    form {
      .order_container {
        .order {
          grid-template-columns: 1fr;

          .order_info {
            gap: 6px;
            justify-content: space-between;
          }

          .order_id {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    form {
      .metaMask_method {
        .ethereum_rate {
          flex-direction: column;
        }
      }
    }
  }
}

@media only screen and (max-width: 542px) {
  .container {
    form {
      .order_container {
        gap: 6px;

        .price {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .container {
    form {
      .order_container {
        .order {
          .order_info {
            gap: 0;
            font-size: 14px;
          }
        }
      }

      button {
        width: 100%;
      }

      .payment_method {
        .method,
        .active {
          aspect-ratio: 1;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
