.overlay {
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgb(0 0 0 / 52%);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 16px;
    width: 100%;
    margin-top: -72px;
    gap: 24px;
    max-width: 440px;

    .modal_header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .modal_title {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      svg {
        cursor: pointer;
      }
    }

    .product {
      display: flex;
      gap: 16px;

      img {
        aspect-ratio: 1;
        object-fit: cover;
        width: 160px;
        height: auto;
        border-radius: 6px;
      }

      .product_info {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .title {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .greey {
          color: var(--desc-color);
        }

        .price {
          display: grid;
          justify-items: end;
          grid-template-columns: max-content max-content auto;
          font-weight: 600;
          margin-top: 12px;
          gap: 12px;

          .old_price {
            font-weight: 400;
            color: var(--desc-color);
          }

          .discount {
            color: green;
            background: rgba(0, 128, 0, 0.189);
            border-radius: 4px;
            padding: 2px 6px;
          }
        }
      }
    }

    .controlers {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
